* {
	margin: 0;
	box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: hsl(233, 47%, 7%);
    margin: 0px;
    padding: 1rem;
}

.card {
    max-width: 1000px;
    background-color: hsl(244, 38%, 16%);
    border-radius: 7px;
}

.side-image {
	background-color: hsl(277, 64%, 61%);
	border-radius: 7px 7px 0 0;
}

img {
	width: 100%;
   /* height: 100%;
    object-fit: cover;*/
	mix-blend-mode: multiply;
	opacity: 0.7;
    border-radius: 7px 7px 0 0;
}

.main-page {
    text-align: center;
    padding: 2.5rem;
}

.page-info {
	color: hsl(0, 0%, 100%);
	font-family: inter, sans-serif;
	font-weight: 700;
	font-size: 2.1875rem
}

#insights {
	color:hsl(277, 64%, 61%);
	font-family: inter, sans-serif;
	font-weight: 700;
}

.subpage-info {
	color: hsla(0, 0%, 100%, 0.75);
	font-family: "inter", sans-serif;
	font-weight: 400;
	font-size: 0.9375rem;
	line-height: 1.7;
	margin: 2rem 0px;

}

.stats-tab {
	text-align: center;
}

.info {
	text-align: center;
    padding: 2.5rem;
    text-align: center;
}

.info-tab {
	list-style-type: none;
	font-size: 1.2rem; 
	padding: 1.5rem;
}

strong {
	color: hsl(0, 0%, 100%);
	font-family: inter, sans-serif;
	font-weight: 700;
}

.stats-text {
	color: hsl(0, 0%, 100%, 0.75);
	font-family: "Lexend Deca", sans-serif;
	font-weight: 400;
	font-variant: small-caps;
	letter-spacing: 1px;
	display: block;
}
.attribution { 
	font-size: 11px;
    text-align: center;
    color: hsla(0, 0%, 100%, 0.75);
    letter-spacing: 0.5px;
    margin-top: 2rem;
    padding: 10px;
}

.attribution a { 
	color:hsla(277, 64%, 61%, 0.5);
}

@media screen and (min-width: 900px) {
	.card {
		display: flex;
		flex-direction: row-reverse;
	}

	.side-image {
		flex-basis: 50%;
		border-radius: 0 7px 7px 0;
		background-color: hsl(277, 64%, 61%);
	}

	.card-info {
		flex-basis: 50%;
	}

	img {
		object-fit: cover;
		mix-blend-mode: multiply;
		min-height: 100%;
		min-width: auto;
	}

	.info {
		display: flex;
		flex-direction: row;
		text-align: left;
		padding: 1rem;
	}

	.main-page {
		text-align: left;
	}

}